      body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 100vh;
            margin: 10px;
            font-family: Arial, sans-serif;
            background-color: bisque;
            
        }
        .result-container {
            text-align: center;
            width: 400px;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        .result-container h1 {
            margin: 0;
            margin-bottom: 20px;
        }
        .result-container p {
            font-size: 24px;
            margin: 10px 0;
        }
       .container{
        margin: 20px;
       }
        h2{
            margin-left: 20px;
        }
        .card{
            display: none;
            text-align: center;
            width: 300px;
            padding: 20px;
            margin: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }



        #nextTestButton {
            position: fixed;
            right: 20px;
            bottom: 20px;
            padding: 10px 20px;
            background-color: #d0ffd0;
            color: #6c757d;
            box-shadow:1px 1px 5px 2px #adb5bd;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        
        #nextTestButton:hover {
            background-color: #d0ffd0;
        }
 